<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - FYP Team</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="profile">
            <div class="card">
                <img src="{{ url_for('static', filename='zain.jpg') }}" alt="Muhammad Zain Mushtaq">
                <h2>Muhammad Zain Mushtaq</h2>
                <p><strong>Student | AI Developer</strong></p>
                <p>ML, Flask and Streamlit Web App Development, and Digital Marketing.</p>
                <p>AI Chatbot Integration Expert.</p>

                <p><strong>Experience & Skills:</strong></p>
                <ul>
                    <li>Developed AI-Powered Custom Chatbots</li>
                    <li>Integrated AI solutions, including custom chatbots.</li>
                    <li>Proficient in Flask and Streamlit web application development.</li>
                    <li>Experienced in Machine Learning (ML).</li>
                </ul>

                <p><strong>Projects Delivered:</strong></p>
                <ul>
                    <li>Attendance System</li>
                    <li>Phishing Attack Detection and Prevention</li>
                    <li>Network Traffic Attack Monitoring</li>
                    <li>Stakeholder Feedback Analysis</li>
                    <li>Hybrid Deep Learning Approach for Real-Time SQL Injection Detection</li>
                    <li>Interpretable Machine Learning for SFR-RAC: Predicting Compressive and Tensile Strength</li>
                </ul>


                <div class="social-links">
                    <a href="https://github.com/zainmushtaq9" target="_blank">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://linkedin.com/in/zainmushtaq" target="_blank">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://huggingface.co/spaces/zainmushtaq54/assignmnet" target="_blank">
                        <i class="fas fa-globe"></i> Portfolio
                    </a>
                </div>

            </div>
        </div>






        <div class="profile">
            <div class="card">
                <img src="{{ url_for('static', filename='sarim.jpeg') }}" alt="Sarim Javed">
                <h2>Sarim Javed</h2>
                <p><strong>BS IT Student | AI Developer</strong></p>
                <p>Skilled in Python,ML,Botpress,Web Development, and AI Applications.</p>

                <p><strong>Experience:</strong></p>
                <ul>
                    <li>Developed Secure Web Apps</li>
                    <li>Chatbot Development</li>
                    <li>AI Doctor Chatbot</li>
                </ul>
                <p><strong>Projects Delivered:</strong></p>
                <ul>
                    <li>Breast Cancer Detection</li>
                    <li>Plants Disease Prediction</li>
                    <li>Income Prediction</li>
                    <li>AI-Based Security Policy Automation</li>
                    <li>Hybrid SQL Injection Detection</li>
                    <li>CBC Report Detection</li>
                </ul>


                <div class="social-links">
                    <a href="https://github.com/SarimJaved" target="_blank">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/sarim-javed-661927296/" target="_blank">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://sarimjaved.github.io/" target="_blank">
                        <i class="fas fa-globe"></i> Portfolio
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>